<p id="notice"><%= notice %></p>
<h1>Menu</h1>

<ul>
    <li>
        <%= link_to 'Comics', comics_path %>
    </li>
    <li>
        <%= link_to 'Mangakas', mangakas_path %>
    </li>
    <li>
        <%= link_to 'Magazines', magazines_path %>
    </li>

</ul>

<%= link_to 'Upload data', uploadData_path %> |
<%= link_to 'Delete data', deleteData_path %>
