<p id="notice"><%= notice %></p>

<h1>Comics</h1>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Sinopsis</th>
      <th>Generos</th>
      <th>Is active</th>
      <th colspan="3">Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @comics.each do |comic| %>
      <tr>
        <td><%= comic.name %></td>
        <% if comic.image %>
          <td><img src="<%=comic.image%>" alt="A" width="100" height="100"/></td>
          <% else %>
          <td><img src="https://images.unsplash.com/photo-1580656449548-a2278870021d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=709&q=80" alt="Imagen"  width="100" height="100"/></td>
        <% end %>
        <td><%= comic.sinopsis %></td>
        <td><%= comic.generos %></td>
        <td>
        <% if comic.is_active == 0 %>
          Completo
        <% end %>

        <% if comic.is_active == 1 %>
          En emisión
        <% end %>

        <% if comic.is_active == 2 %>
          Pausado
        <% end %>

        <% if comic.is_active == 3 %>
          Abandonado
        <% end %>
        </td>
        <td><%= link_to 'Show', comic %></td>
        <td><%= link_to 'Edit', edit_comic_path(comic) %></td>
        <td><%= link_to 'Destroy', comic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comic', new_comic_path %> |
<%= link_to 'Menu', root_path %>