<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comic.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @comic.image %>
</p>

<p>
  <strong>Sinopsis:</strong>
  <%= @comic.sinopsis %>
</p>

<p>
  <strong>Generos:</strong>
  <%= @comic.generos %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @comic.is_active %>
</p>

<p>
  <strong>Publish date:</strong>
  <%= @comic.publish_date %>
</p>

<%= link_to 'Edit', edit_comic_path(@comic) %> |
<%= link_to 'Back', comics_path %>
