<p id="notice"><%= notice %></p>

<h1>Mangakas</h1>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th colspan="3">Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @mangakas.each do |mangaka| %>
      <tr>
        <td><%= mangaka.name %></td>
        
        <% if mangaka.image %>
          <td><img src="<%=mangaka.image%>" alt="A" width="100" height="100"/></td>
          <% else %>
          <td><img src="https://images.unsplash.com/photo-1580656449548-a2278870021d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=709&q=80" alt="Imagen"  width="100" height="100"/></td>
        <% end %>
        <td><%= link_to 'Show', mangaka %></td>
        <td><%= link_to 'Edit', edit_mangaka_path(mangaka) %></td>
        <td><%= link_to 'Destroy', mangaka, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mangaka', new_mangaka_path %> |
<%= link_to 'Menu', root_path %>
